.SignUpBackground {
  width: 100vw;
  height: 100vh;
  background: #021c39;

  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUp {
  background: #ffffff;
  /* border: 1px solid grey; */
  border-radius: 16px;

  margin: 16px;
  width: 360px;
  height: 320px;

  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;

  animation-name: fade-background-anim;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
}

.SignUp-hidden {
  background: #ffffff;
  /* border: 1px solid grey; */
  border-radius: 16px;

  margin: 16px;
  width: 360px;
  height: 320px;

  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  display: none;
}

.SignUp--no-anim {
  background: #ffffff;
  /* border: 1px solid grey; */
  border-radius: 16px;

  margin: 16px;
  width: 360px;
  height: 320px;

  padding: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.LogInRedirectButton {
  all: unset;
  text-align: center;
  cursor: pointer;
  color: #021c39;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 24px;
  opacity: 0;

  animation-name: fade-background-anim;
  animation-duration: 0.6s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

.LogInRedirectButton--no-anim {
  all: unset;
  text-align: center;
  cursor: pointer;
  color: #021c39;
  font-size: 14px;
  text-decoration: underline;
  margin-top: 24px;
}

.SignUpForm {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.SignUpSubmitButton {
  all: unset;
  border: 1px solid #021c39;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #021c39;
  margin-top: 24px;
  border-radius: 4px;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.6s;
  opacity: 0;

  animation-name: fade-anim;
  animation-duration: 0.6s;
  animation-delay: 0.8s;
  animation-fill-mode: forwards;
}

.SignUpSubmitButton--no-anim {
  all: unset;
  border: 1px solid #021c39;
  width: 100%;
  height: 30px;
  font-size: 16px;
  color: #021c39;
  margin-top: 24px;
  border-radius: 4px;
  background: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all 0.6s;
}

.SignUpSubmitButton:hover {
  background: #021c39;
  color: #ffffff;
}

.SignUpSubmitButton--no-anim:hover {
  background: #021c39;
  color: #ffffff;
}

.Input {
  all: unset;
  width: Calc(100% - 8px);
  border: 1px solid #021c39;
  height: 30px;
  margin-bottom: 24px;
  border-radius: 4px;
  padding: 0px 0px 0px 8px;
}

.SignUpUsernameInputWrap {
  width: 100%;
  opacity: 0;
  animation-name: fade-anim;
  animation-duration: 0.6s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}

.SignUpUsernameInputWrap--no-anim {
  width: 100%;
}

.SignUpPasswordInputWrap {
  width: 100%;
  opacity: 0;
  animation-name: fade-anim;
  animation-duration: 0.6s;
  animation-delay: 0.6s;
  animation-fill-mode: forwards;
}

.SignUpPasswordInputWrap--no-anim {
  width: 100%;
}

.InputText {
  font-size: 16px;
  margin: 0px 0px 8px 0px;
  color: #021c39;
}

.SignUpTitle {
  font-size: 22px;
  opacity: 0;
  margin: 0px 0px 16px 0px;
  text-align: center;
  color: #021c39;

  animation-name: fade-anim;
  animation-duration: 0.6s;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

.SignUpTitle--no-anim {
  font-size: 22px;
  margin: 0px 0px 16px 0px;
  text-align: center;
  color: #021c39;
}

.SignUpError {
  color: #800000;
  font-size: 16px;
  text-align: center;
}

@keyframes fade-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-background-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
